header {
  width: 1000px;
  font-size: 3em;
  text-align: center;
  color: blue;
  margin-left: 200px;
  margin-right: 200px;
}

#canvas {
  background-color: black;
  margin-left: 73px;
  /*margin-right: 200px;*/
}