#main-title {
  display: inline-block;
  width: 1000px;
  padding-left: 100px;
  margin: 10px;
  font-family: impact, Charcoal, sans-serif;
  font-size: 3em;
  letter-spacing: 6px;
  text-align: center;
  color: #1A1EB2;
}

#canvas {
  background-image: url("imgs/stardust.png");
  background-repeat: repeat;
  margin-left: 73px;
}

#start-game {
  display: inline-block;
  width: 180px;
  height: 45px;
  font-family: impact Charcoal sans-serif;
  color: white;
  font-size: 2em;
  text-align: center;
  background-color: #1A1EB2;
}

